.container {
    border: solid 3px black;
    width: 500px;
    height: 550px;
    background: grey;
    border-radius: 20px;
    box-shadow: 13px 13px 13px lightslategrey;
}

h3 {
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 28px;
    font-size: 32px;
    color: white;
}